snippet sign "Signature"
Yours sincerely,

Daniel Huang
endsnippet

snippet today "Date"
`date +%f`
endsnippet

snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet


